<html>
  <head>
    <title>借出設備</title>
  </head>
  <body>
    {{template "header" .}}
    <div>
        <h2>{{.Date}} {{.Day}}</h2>
      <table>
        <tr>
            <th>時間</th>
            <th>教師</th>
            <th>學生機</th>
            <th>教師機</th>
            <th>Chromebook</th>
            <th>無線基地台</th>
            <th>無線投影機</th>
            <th>連結</th>
            <th>狀態</th>
            <th></th>
            </tr>
            {{range .Classes}}
            <tr>
                <td>{{.Class}}</td>
                <td></td>
                {{range .Devices}}
                    <td>{{.}}</td>
                {{end}}
            </tr>
                {{range .Bookings}}
                <tr>
                    <td></td>
                    <td>{{.UName}}</td>
                        {{range .Devices}}
                            <td>{{.}}</td>
                        {{end}}
                    <td><a href="/bookings/{{.ID}}">查看</a></td>
                    <td>{{.Status}}</td>
                    {{if eq .Status "可借出"}}
                    <td><a href="/bookings/{{.ID}}/lend">借出</a></td>
                    {{end}}
                </tr>
                {{end}}
            {{end}}
      </table>
    </div>
  </body>
</html>