<!DOCTYPE html>
<html>
  <head>
    <title>新增預約</title>
    <link rel="stylesheet" href="/static/booking.css">
  </head>
  <body>
    <div>
      {{template "header"}}
      <h1>新增預約</h1>
      <form action="#" method="POST">
        <p>iPad 學生機：<input type="text" name="student"></p>
        <p>iPad 教師機：<input type="text" name="teacher"></p>
        <p>Chromebook：<input type="text" name="chromebook"></p>
        <p>Wifi 基地台：<input type="text" name="wap"></p>
        <p>無線投影機：<input type="text" name="wireless-projector"></p>
        <table align="center">
          <tr>
            <th>  </th>
            {{range .Days}}
            <th>{{.}}</th>
            {{end}}
          </tr>
          {{$days := .Days}}
          {{$times := .Times}}
          {{range $i, $class := .Classes}}
          <tr>
            <td><p>{{$class}}</p><p>{{index $times $i}}</p></td>
            {{range $j, $day := $days}}
            <td><input type="checkbox" name="{{$j}}:{{$i}}"></td>
            {{end}}
          </tr>
          {{end}}
        </table>
      </form>
    </div>
  </body>
</html>