<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>第 {{.ID}} 預約資料</title>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <div>
        <p>預約人： {{.UName}}</p>
        <p>從 {{.From}} 到 {{.Until}}</p>
        <table>
          {{$devices := .Devices}}
          {{range $i, $v := .ItemsName}}
          <tr>
            <td>{{.}}</td>
            <td>{{index $devices $i}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </main>
  </body>
</html>