<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>第 {{.Booking.ID}} 預約資料</title>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <div>
        <p>預約人： {{.UName}}</p>
        <p>{{formatDate .From}} {{formatTime .From}} 到 {{formatTime .Until}}</p>
        <p>狀態：{{.Status}}</p>
        {{if and (eq .Type "Admin") (eq .Status "借出中")}}
        <a href="/bookings/{{.Booking.ID}}/records">歸還</a>
        {{end}}
        {{if and .AbleLending (eq .Type "Admin")}}
        <a href="/bookings/{{.Booking.ID}}/lend">借出</a>
        {{end}}
        <table>
          {{$devices := .Devices}}
          {{range $i, $v := .ItemsName}}
          <tr>
            <td>{{.}}</td>
            <td>{{index $devices $i}}</td>
          </tr>
          {{end}}
        </table>
      </div>
    </main>
  </body>
</html>