<!DOCTYPE html>
<html>
  <head>
    <title>設備列表</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {{template "header" .}}
    <main>
      <div>
        <h2>上傳設備列表</h2>
        <a href="/static/example-devices.csv">設備列表範例檔</a>
        <form action="/devices/upload" method="POST">
          上傳檔案：<input type="file" name="file" id=""><br>
          覆蓋：<input type="checkbox" name="override" id=""><br>
          <input type="submit" value="上傳">
        </form>
        <h2>單筆添加</h2>
        <form action="/devices" method="post">
          
        </form>
      </div>
      <form action="/devices" method="get">
        <select name="type" id="">
          <option value="all" {{if eq .Option "all" }}selected{{end}}>全選</option>
          {{$option := .Option}}
          {{range $k, $v := .Types}}
          <option value="{{$k}}" {{if eq $option $k }}selected{{end}}>{{$v}}</option>
          {{end}}
        </select>
        <input type="checkbox" name="Lendout" value="true" {{if .Checked}}checked{{end}}>
        <input type="submit" value="查詢">
      </form>
      <table>
        <tr>
          <th>設備</th>
          <th>狀態</th>
          <th>借用人</th>
        </tr>
        {{range .Devices}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{if .Status}}借出中{{else}}館內{{end}}</td>
          <td>{{.Uname}}</td>
        </tr>
        {{end}}
      </table>
    </main>
  </body>
</html>