<!DOCTYPE html>
<html>
  <head>
    <title>設備列表</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {{template "header" .}}
    <main>
      <form action="/devices" method="get">
        <select name="type" id="">
          {{range $k, $v := .Types}}
          <option value="{{$k}}">{{$v}}</option>
          {{end}}
        </select>
        <input type="checkbox" name="Lendout" value="true">
        <input type="submit" value="查詢">
      </form>
      <table>
        <tr>
          <th>設備</th>
          <th>狀態</th>
          <th>借用人</th>
        </tr>
        {{range .Devices}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{if .Status}}借出中{{else}}館內{{end}}</td>
          <td>{{.Uname}}</td>
        </tr>
        {{end}}
      </table>
    </main>
  </body>
</html>