<html>
<head></head>
<body>
{{define "header"}}
<header>
  <link rel="stylesheet" type="text/css" href="/static/header.css">
  <div class="top-bar">
    <a href="/">首頁</a>
    <a href="/booking">預約</a>
    <a href="/check">查看預約</a>
    {{if .Login}}
    <a href="/manage">管理預約</a>
    <a href="/lend">借出</a>
    <a href="/return">還入</a>
    <a href="/overdue">逾期項目</a>
    {{end}}
    {{if .Login}}
    <p>{{.Username}}</p>
    {{else}}
    <a href="/login" id="login-button">登入</a>
    {{end}}
  </div>
</header>
{{end}}
</body>
</html>
