{{define "header"}}
<header>
  <link rel="stylesheet" type="text/css" href="/static/css/header.css">
  <div class="top-bar">
    <div class="button-div">
      <a href="/">首頁</a>
      {{if .Login}}
      <a href="/bookings/new">預約</a>
      <a href="/check">查看剩餘</a>
      <a href="/bookings">查看預約</a>
      {{if eq .Type "Admin"}}
      <a href="/lend">借出</a>
      <a href="/return">還入</a>
      <a href="/overdue">逾期項目</a>
      {{end}}
      {{end}}
    </div>
    <div class="right-div">
      {{if .Login}}
      <p>{{.Username}}</p>
      <a href="/logout">登出</a>
      {{else}}
      <a href="/login" id="login-button">登入</a>
      {{end}}
    </div>
  </div>
</header>
{{end}}
