<!DOCTYPE html>
<html>
  <head>
    <title>{{.Booking.ID}} 借出設備列表</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/records.js"></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <h1>{{.Booking.ID}} 借出設備列表</h1>
      <a href="/bookings/{{.Booking.ID}}" id="booking-link">詳細資料</a><br>
      {{$login := .Login}}
      {{$type := .Type}}
      <button id="return-all" onclick="returnAll()">一鍵歸還</button>
      <table>
        <tr>
          <td>Type</td>
          <td>Device</td>
        </tr>
        {{range .Records}}
        <tr>
          <td>{{.Type}}</td>
          <td>{{.Device}}</td>
          {{if eq $type "Admin"}}
          <td><button class="device" onclick="returnRecord(this)" value="{{.Device}}" {{if .Done}}disabled="true"{{end}}>{{if eq .Done true}}已歸還{{else}}歸還{{end}}</button></td>
          {{end}}
        </tr>
        {{end}}
      </table>
    </main>
  </body>
</html>