<!DOCTYPE html>
<html>
    <head>
        <title>重設密碼</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{template "header" .User}}
        <main>
            <h1>重設{{.U.Username}}的密碼</h1>
            <p>{{.Error}}</p>
            <form action="/users/{{.U.UID}}/set-password" method="POST">
            {{if eq .User.UID .U.UID }}
                原密碼：<input type="password" name="current-password" id=""><br>
            {{end}}
                新密碼：<input type="password" name="password" id=""><br>
                <input type="submit" value="更改密碼">
            </form>
        </main>
        {{template "footer"}}
    </body>
</html>