<!DOCTYPE html>
<html>
    <head>
        <title>重設密碼</title>
    </head>
    <body>
        {{template "header" .User}}
        <main>
            <h1>重設{{.U.Username}}的密碼</h1>
            <form action="/users/{{.U.ID}}" method="put">
            {{if eq .User.Type "Teacher" }}
                <input type="password" name="current-password" id="">
            {{end}}
                <input type="password" name="password" id="">
                <input type="submit" value="更改密碼">
            </form>
        </main>
    </body>
</html>