<!DOCTYPE html>
<html>
  <head>
    <title>使用者管理</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/users.js"></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <h1>使用者管理</h1>
      <div>
        <h3>批次匯入使用者</h3>
        <form action="/users/upload" method="POST" enctype="multipart/form-data">
          <p>註冊使用者<a href="/static/example.csv">範例檔下載</a></p>
          <input type="file" name="file" id="" required><input type="submit" value="上傳">
        </form>
      </div>
      <div>
        <h3>單筆使用者註冊</h3>
        <form action="/users" method="post">
          姓名：<input type="text" name="name" required><br>
          電子郵件：<input type="text" name="email" id="" required><br>
          密碼：<input type="password" name="password" id="" required>
          <input type="submit" value="註冊">
        </form>
      </div>
      <div>
        <h3>使用者列表</h3>
        <table>
          <tr>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>權限</th>
          </tr>
          {{range .Users}}
          <tr>
            <td>{{.Username}}</td>
            <td>{{.Email}}</td>
            <td class="type" id="{{.UID}}-type">{{.Type}}</td>
            <td>
              {{if eq .Type "Admin"}}
              <button onclick="setPermission(this, `off`)" value={{.UID}} {{if eq .UID 1}}disabled{{end}}>移除管理員</button>
              {{else}}
              <button onclick="setPermission(this, `on`)" value={{.UID}}>設為管理員</button>
              {{end}}
            </td>
            <td><a href="/users/{{.UID}}/set-password">重設密碼</a></td>
          </tr>
          {{end}}
        </table>
      </div>
    </main>
  </body>
</html>